{% extends 'main.html' %}
{% load static %}

{% block main%}
<div class="page-header">
    <div class="page-title">
        <h4>Listes des clients</h4>
    </div>
    <div class="page-btn">
        <a href="{% url 'add-client' %}" class="btn btn-added"
        ><img
                src="{% static 'assets/img/icons/plus.svg' %}"
                alt="img"
                class="me-2"
        />Ajouter un client</a
        >
    </div>
</div>

<div class="card">
    <div class="card-body">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}"
             role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="table-top">
            <div class="search-set">
                <div class="search-path" style="background-color:#808080;">
                    <a class="btn btn-filter" id="filter_search" style="background-color:#808080;">
                        <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img"/>
                        <span
                        ><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"
                        /></span>
                    </a>
                </div>
                <div class="search-input">
                    <a class="btn btn-searchset">
                        <img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"/>
                    </a>
                </div>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table datanew">
                <thead>
                <tr>
                    <!--<th>Profile</th>-->
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                <tr>
                    <!--<td class="productimgname">
                        <a href="javascript:void(0);" class="product-img">
                            <img
                                    src="{% static 'assets/img/customer/customer1.jpg' %}"
                                    alt="product"
                            />
                        </a>
                    </td>-->
                    <td>{{ client.nom }}</td>
                    <td>{{ client.prenom }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>
                        {{ client.email }}
                    </td>

                    <td>
                        <a class="me-3" href="{% url 'update-client' client.id %}">
                            <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img"/>
                        </a>
                        <a class="me-3 confirm-text" href="{% url 'delete-client' client.pk %}">
                            <img src="{% static 'assets/img/icons/delete.svg' %}" alt="img"/>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}