{% extends 'main.html' %}
{% load static %}

{% block main %}

<div class="page-header">
    <div class="page-title">
        <h4>Détails du Projet</h4>
    </div>
</div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}"
     role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="row mb-4">
    <div class="col-12">
        <a href="{% url 'projets' %}" class="btn btn-secondary">Retour</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Galerie de Projet</h5>
                <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in projet_images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100" alt="Image {{ forloop.counter }}">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Informations du Projet</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Nom du Projet:</strong> {{ projet.nom }}</li>
                    <li class="list-group-item"><strong>Client:</strong> {{ projet.client.nom }}</li>
                    <li class="list-group-item"><strong>Type de Projet:</strong> {{ projet.get_type_projet_display }}
                    </li>
                    <li class="list-group-item"><strong>Date de Création:</strong> {{ projet.create_at|date:"d/m/Y" }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Description du Projet</h5>
                <p class="card-text">{{ projet.description }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tâches du Projet</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Tâche</th>
                        <th scope="col">Statut</th>
                        {% if request.user.is_superuser %}
                        <th scope="col">Action</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for tache in taches %}
                    <tr>
                        <td>{{ tache.description }}</td>
                        <td>
                                <span id="status-{{ tache.id }}" class="badge
                                    {% if tache.statut == 'en_attente' %}bg-warning
                                    {% elif tache.statut == 'en_cours' %}bg-info
                                    {% elif tache.statut == 'terminee' %}bg-success
                                    {% elif tache.statut == 'annulee' %}bg-danger
                                    {% else %}bg-secondary
                                    {% endif %}">
                                    {{ tache.get_statut_display }}
                                </span>
                        </td>
                        {% if request.user.is_superuser %}
                        <td>
                            <button class="btn btn-primary btn-sm" style="width:70px;" data-bs-toggle="modal"
                                    data-bs-target="#statusModal" data-tache-id="{{ tache.id }}">Changer
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Barre de progression des tâches -->
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Progression des Tâches</h5>
        <div class="progress mt-2">
            <div id="progressBar" class="progress-bar" role="progressbar" style="width: {{ progressPercentage }}%;"
                 aria-valuenow="{{ progressPercentage }}" aria-valuemin="0" aria-valuemax="100">{{ progressPercentage }}%
            </div>
        </div>
    </div>
</div>


<!-- Affichage des commentaires -->
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Commentaires</h5>
        {% for commentaire in commentaires %}
        {% if request.user == commentaire.owner %}
        <div class="mb-3">
            <h6>{{ commentaire.owner.username }}</h6>
            <p>{{ commentaire.commentaire }}</p>
            <small class="text-muted">{{ commentaire.date_creation|timesince }} ago</small>
        </div>
        <hr>
        {% endif %}
        {% empty %}
        <div class="mbt-2">
            <p>Votre commentaire apparaîtra ici une fois ajouté ...!</p>
        </div>
        {% endfor %}
    </div>
</div>


<!-- Section de commentaire -->
{% if request.user.is_customer %}
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Ajouter un Commentaire</h5>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_commentaire" class="form-label"></label>
                {{ form.commentaire }}
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
    </div>
</div>
{% endif %}


<!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModalLabel">Changer le Statut de la Tâche</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="statusForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="tache_id" id="tache_id">
                    <div class="mb-3">
                        <label for="statut" class="form-label">Statut</label>
                        <select class="form-select" name="statut" id="statut">
                            <option value="en_attente">En attente</option>
                            <option value="en_cours">En cours</option>
                            <option value="terminee">Terminée</option>
                            <option value="annulee">Annulée</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
